body {
    margin: 0px;
}

* {
    font-family: Roboto, sans-serif;
}

* img {
    object-fit: cover;
}

:root {
    --main-color: #9356DC;
    --second-color: #FF79DA;
    --light-green: #99E2D0;
    --dark-green: #25997c;
    --text-grey-color: rgb(53,53,53);
    --light-grey: rgb(240, 240, 240);
    --dark-grey: rgb(138, 138, 138);
    --main-bg: white;
}

.pink-btn {
    border-radius: 50px;
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    text-align: center;
    padding: 15px;
    width: 200px;
    font-size: 15px;
    margin: 35px;
    text-decoration: none;
    transition: opacity 800ms;
    
    &:hover {
        opacity: 0.80;
    }
}

.logo {
    width: 150px;
}
