.restaurants {
    padding-left: 15px;
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 70px;

    h3, p {
        margin-left: 10px;
    }

    .restaurants-title {
        font-size: 17px;
        margin-top: 7px;
        margin-bottom: 3px;
    }

    .restaurants-text {
        font-size: 15px;
        margin-top: 0px;
    }

    .restaurants-card {
        text-decoration: none;
        background-color: var(--main-bg);
        color: black;
        margin-right: 15px;
        height: 210px;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
    }

    .restaurants-card img {
        height: 150px;
        border-radius: 15px 15px 0px 0px;
    }

}

.restaurants-heart, 
.restaurants-green-box {
    align-self: flex-end;
    position: relative;
    margin-right: 10px;
}

.restaurants-heart {
    bottom: 70px;   
}

.restaurants-green-box {
    bottom: 200px;
    border-radius: 3px;
    width: 70px;
    background-color: var(--light-green);
    color: var(--dark-green);
    padding: 5px;
    text-align: center;
}