.footer {
    padding: 20px;
    background-color: var(--text-grey-color);
    color: white;
    font-size: 14px;
    font-family: Roboto, sans-serif;
     
    p {
    margin: 5px;
    }

    a {
    padding-left: 5px;
        text-decoration: none;
        color: white;
    }

    &__logo {
        filter: invert(100%);
        width: 100px;
        margin-bottom: 15px;
    }
    
    &__content {
        display: flex;
        flex-direction: row;
    }
     
    &__icon {
        margin: 5px;
    }
}