.footer {
    padding: 20px;
    background-color: var(--text-grey-color);
}

.footer p {
    margin: 5px;
}

.footer-logo {
    filter: invert(100%);
    width: 100px;
    margin-bottom: 15px;
}

.footer-line {
    display: flex;
    flex-direction: row;
}

.footer-text {
    font-size: 14px;
    font-family: Roboto, sans-serif;
    color: white;
}

.footer-icon {
    margin: 5px;
    color: white;
}