$larger: 1140px;

@media only screen and (min-width: $larger) {
    .hero-title {
        font-size: 40px;
    }
    
    .section-fonctionnement {
        margin-left: 250px;
    }

    .steps {
        flex-direction: row;
    }

    .restaurants {
        padding-left: 265px;
        flex-direction: row wrap;
    }

    .footer {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 45px;
    }

    .footer-logo {
        margin: 5px;
        width: 90px;
        order: 5;
    }

}