.heart {
  font-size: 25px;
  margin-right: 30px;
}
.heart:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
  transition: all 1000ms;
  animation: zoomIn 2s;
}

.loader {
  padding-top: 300px;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: var(--light-grey);
  transition: opacity 0.75s, visibility 0.75s;
  animation: hiddenloader 0s linear 2s forwards;
}
.loader::after {
  content: "";
  width: 150px;
  height: 150px;
  border: 5px solid transparent;
  border-radius: 50%;
  animation: turn 0.75s ease infinite;
}
@keyframes turn {
  0% {
    transform: rotate(0turn);
    border-top-color: #7331c5;
  }
  33% {
    transform: rotate(0.33turn);
    border-top-color: #bf4cd6;
  }
  66% {
    transform: rotate(0.66turn);
    border-top-color: #7331c5;
  }
  100% {
    transform: rotate(1turn);
    border-top-color: #bf4cd6;
  }
}
@keyframes hiddenloader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.animation-one {
  animation: slide-right 0.8s linear;
  animation-delay: 0.1;
}
@keyframes slide-right {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.animation-two {
  animation: slide-right 0.8s linear;
  animation-delay: 0.2;
}

.animation-three {
  animation: slide-right 0.8s linear;
  animation-delay: 0.3;
}

.animation-four {
  animation: slide-right 0.8s linear;
  animation-delay: 0.4;
}

body {
  margin: 0px;
}

* {
  font-family: Roboto, sans-serif;
}

* img {
  -o-object-fit: cover;
     object-fit: cover;
}

:root {
  --main-color: #9356DC;
  --second-color: #FF79DA;
  --light-green: #99E2D0;
  --dark-green: #25997c;
  --text-grey-color: rgb(53,53,53);
  --light-grey: rgb(240, 240, 240);
  --dark-grey: rgb(138, 138, 138);
  --main-bg: white;
}

.pink-btn {
  border-radius: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  text-align: center;
  padding: 15px;
  width: 200px;
  font-size: 15px;
  margin: 35px;
  text-decoration: none;
  transition: opacity 800ms;
}
.pink-btn:hover {
  opacity: 0.8;
}

.logo {
  width: 150px;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 25px;
}

.searchbar {
  height: 50px;
  background-color: rgb(223, 223, 223);
  color: var(--text-grey-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  filter: drop-shadow(0px 0px 5px var(--text-grey-color));
}
.searchbar__style {
  text-align: center;
  border: none;
  outline: none;
  background-color: transparent;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-grey);
}
.hero__title {
  text-align: center;
  padding: 25px 50px;
  margin: 0px;
}
.hero__text {
  text-align: center;
  padding: 5px 30px;
  margin: 0px;
  color: var(--text-grey-color);
}

.ordering-process {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.ordering-process__title {
  margin: 40px 0px 25px 15px;
}
.ordering-process__steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.ordering-process__steps__step {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  width: 90%;
  filter: drop-shadow(0px 1px 7px var(--text-grey-color));
  border-radius: 15px;
  border: none;
  background-color: var(--light-grey);
}
.ordering-process__steps__step i {
  margin-left: 5%;
}

.purple-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
  margin: -20px;
  border-radius: 50%;
  background-color: var(--main-color);
  padding: 5px;
  color: white;
}

.grey-icon {
  color: var(--dark-grey);
}

.purple-icon {
  color: var(--dark-grey);
}
.purple-icon:hover {
  color: var(--main-color);
}

.restaurants {
  background-color: var(--light-grey);
}
.restaurants__title {
  margin: 15px;
  padding-top: 40px;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  gap: 15px;
  padding-bottom: 70px;
}
.restaurants__cards__card {
  position: relative;
  background-color: var(--main-bg);
  margin-right: 15px;
  height: 210px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
.restaurants__cards__card a {
  text-decoration: none;
  color: black;
}
.restaurants__cards__card img {
  height: 150px;
  border-radius: 15px 15px 0px 0px;
  width: 100%;
}
.restaurants__cards__card__title {
  font-size: 17px;
  margin-top: 7px;
  margin-bottom: 3px;
  margin-left: 3%;
}
.restaurants__cards__card__text {
  font-size: 15px;
  margin-top: 0px;
  margin-left: 3%;
}
.restaurants__cards__card__green-box {
  align-self: flex-end;
  position: relative;
  margin-right: 10px;
  bottom: 200px;
  border-radius: 3px;
  width: 70px;
  background-color: var(--light-green);
  color: var(--dark-green);
  padding: 5px;
  text-align: center;
}
.restaurants__cards__card__heart {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.restaurants__cards__card__heart:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
  transition: all 1000ms;
  animation: zoomIn 2s, fillHeart 2s;
}
@keyframes fillHeart {
  0% {
    color: transparent;
  }
  100% {
    color: linear-gradient(#FF79DA, #9356DC);
  }
}
@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
  background-color: var(--text-grey-color);
  color: white;
  font-size: 14px;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer__logo {
  filter: invert(100%);
  width: 100px;
  margin-bottom: 15px;
}
.footer__content {
  display: flex;
  flex-direction: row;
}
.footer__icon {
  margin-right: 10px;
  width: 15px;
}

@media only screen and (min-width: 768px) {
  .hero__title {
    font-size: 30px;
  }
  .ordering-process {
    margin-left: 14%;
  }
  .ordering-process__title {
    margin-left: -20px;
    font-size: 22px;
  }
  .ordering-process__steps {
    flex-direction: row;
    gap: 3%;
  }
  .ordering-process__steps__step {
    padding: 5px;
    gap: 20px;
    font-weight: bold;
    width: 26%;
  }
  .ordering-process__steps__step p {
    font-size: 13px;
  }
  .restaurants {
    padding-left: 10%;
  }
  .restaurants__title {
    font-size: 22px;
    margin-bottom: 25px;
  }
  .restaurants__cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    padding-bottom: 50px;
  }
  .restaurants__cards__card {
    margin-bottom: 25px;
    width: 40%;
    height: 170px;
  }
  .restaurants__cards__card img {
    height: 110px;
  }
  .restaurants__cards__card__green-box {
    bottom: 170px;
    width: 70px;
    font-size: 16px;
  }
  .restaurants__cards__card__heart {
    bottom: 25px;
    right: 20px;
    font-size: 17px;
  }
  .menu {
    width: 45%;
    margin-left: 12%;
    padding-right: 15%;
    padding-left: 15%;
  }
  .footer {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 25px;
    padding-top: 40px;
    font-size: 14px;
  }
  .footer__logo {
    margin-left: 2%;
    width: 110px;
    order: 5;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .hero__title {
    font-size: 40px;
  }
  .ordering-process {
    margin-left: 11%;
  }
  .ordering-process__title {
    margin-left: -8px;
    font-size: 25px;
  }
  .ordering-process__steps {
    flex-direction: row;
    gap: 2%;
    margin-right: 0;
  }
  .ordering-process__steps__step {
    font-size: 16px;
    font-weight: bold;
    width: 26%;
  }
  .ordering-process__steps__step p {
    font-size: 18px;
  }
  .purple-circle {
    padding: 7px;
  }
  .restaurants {
    padding-left: 10%;
  }
  .restaurants__title {
    font-size: 25px;
    margin-bottom: 25px;
  }
  .restaurants__cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
  }
  .restaurants__cards__card {
    margin-bottom: 60px;
    width: 40%;
    height: 300px;
  }
  .restaurants__cards__card img {
    height: 220px;
  }
  .restaurants__cards__card__title {
    font-size: 22px;
  }
  .restaurants__cards__card__text {
    font-size: 20px;
  }
  .restaurants__cards__card__green-box {
    bottom: 290px;
    width: 100px;
    font-size: 20px;
  }
  .restaurants__cards__card__heart {
    bottom: 30px;
    right: 30px;
    font-size: 25px;
  }
  .menu {
    width: 45%;
    margin-left: 12%;
    padding-right: 15%;
    padding-left: 15%;
  }
  .footer {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 45px;
    padding-top: 60px;
    font-size: 17px;
  }
  .footer__logo {
    margin-left: 5%;
    width: 130px;
    order: 5;
    margin-bottom: 0;
  }
}/*# sourceMappingURL=index.css.map */