body {
  max-width: 1440px;
  min-width: 275px;
  margin: 0px;
}

* {
  font-family: Roboto, sans-serif;
}

* img {
  -o-object-fit: cover;
     object-fit: cover;
}

:root {
  --main-color: #9356DC;
  --second-color: #FF79DA;
  --light-green: #99E2D0;
  --dark-green: #25997c;
  --text-grey-color: rgb(53,53,53);
  --light-grey: rgb(240, 240, 240);
  --dark-grey: rgb(138, 138, 138);
  --main-bg: white;
}

.pink-btn {
  border-radius: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  text-align: center;
  padding: 15px;
  width: 200px;
  font-size: 15px;
  margin: 35px;
  text-decoration: none;
  transition: opacity 800ms;
}
.pink-btn:hover {
  opacity: 0.8;
}

.logo {
  width: 150px;
}

.header {
  margin-top: 20px;
  margin-bottom: 12px;
  display: flex;
}
.header__button {
  color: var(--text-grey-color);
  border: none;
  background: none;
  font-size: 25px;
  padding-left: 15px;
}
.header__logo {
  margin: auto;
}
.header__logo img {
  width: 150px;
}

.restau_img {
  width: 100%;
  max-height: 250px;
  position: relative;
  z-index: -1;
}

.heart {
  font-size: 25px;
  margin-right: 30px;
}
.heart:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
  transition: all 1000ms;
  animation: zoomIn 2s;
}

.menu {
  margin-top: -80px;
  background: var(--light-grey);
  padding: 0 15px;
  border-radius: 45px 45px 0px 0px;
  padding-bottom: 20px;
}
.menu__title {
  display: flex;
  align-items: center;
  padding-top: 20px;
  justify-content: space-between;
}
.menu__title h1 {
  font-size: 25px;
  font-weight: 500;
  font-family: Shrikhand;
}
.menu__section__title {
  font-size: 20px;
  font-weight: 100;
  border-bottom: solid 5px;
  -o-border-image: linear-gradient(to right, #99E2D0 15%, transparent 1%) 100% 1;
     border-image: linear-gradient(to right, #99E2D0 15%, transparent 1%) 100% 1;
  padding-bottom: 5px;
}
.menu__section ul {
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu__section ul li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background: white;
  border: 1px;
  border-radius: 15px;
  overflow: hidden;
}
.menu__section ul li:hover .menu__section__check {
  width: 80px;
  transition: width 1s;
}
.menu__section__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}
.menu__section__description h3, .menu__section__description p {
  margin: 5px;
}
.menu__section__price {
  display: flex;
  align-items: flex-end;
  color: var(--text-grey-color);
  margin: 5px;
}
.menu__section__price i {
  margin: 2px;
}
.menu__section__check {
  width: 0;
  background: var(--light-green);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.menu__section__check__icon {
  font-size: 20px;
}
.menu__order-btn {
  display: flex;
  justify-content: center;
}

.footer {
  padding: 20px;
  background-color: var(--text-grey-color);
  color: white;
  font-size: 14px;
  font-family: Roboto, sans-serif;
}
.footer p {
  margin: 5px;
}
.footer a {
  padding-left: 5px;
  text-decoration: none;
  color: white;
}
.footer__logo {
  filter: invert(100%);
  width: 100px;
  margin-bottom: 15px;
}
.footer__content {
  display: flex;
  flex-direction: row;
}
.footer__icon {
  margin: 5px;
}

@media only screen and (min-width: 1140px) {
  .hero-title {
    font-size: 40px;
  }
  .section-fonctionnement {
    margin-left: 250px;
  }
  .steps {
    flex-direction: row;
  }
  .restaurants-cards {
    padding-left: 265px;
    flex-flow: row wrap;
  }
  .footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 45px;
  }
  .footer__logo {
    margin: 5px;
    width: 90px;
    order: 5;
  }
}/*# sourceMappingURL=restaurants.css.map */