/**! link **/

/************todo General ***************/

body {
    margin: 0px;
}

* {
    font-family: Roboto, sans-serif;
}

:root {
    --main-color: #9356DC;
    --second-color: #FF79DA;
    --third-color: #99E2D0;
}

.text-grey-color {
    color: rgb(53, 53, 53);
}

.pink-btn {
    border-radius: 10px;
    border: 0.1px;
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
}

.heart {

}

.logo {
    width: 150px;
}





/********todo header *******/

.header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 12px;
}


/******? presentation *********/

.shadow-grey-box {
    background-color: rgb(235, 235, 235);
    border-top: 2px solid darkgrey;
    border-bottom: 3px solid darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.elements-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.margin-title {
    
}

/**? steps **/



/*******? restaurants *******/

.restaurants {
    display: flex;
}

.restaurants-titre {

}

.restaurants-card {

}

.restaurants-text {

}





/*********todo footer ********/

.footer {
    
}


/** Media Queries pour version desktop**/
