$larger: 1140px;

@media only screen and (min-width: $larger) {
    .hero__title {
        font-size: 40px;
    }
    
    .ordering-process {
        margin-left: 250px;

        &__steps {
            flex-direction: row;
        }
    }

    .restaurants {
        padding-left: 280px;

        &__cards {
            flex-flow: row wrap;
            gap: 50px;
    
            &__card {
                width: 50%;
            }
        }
    }

    .menu {
        width: 45%;
        margin-left: 12%;
        padding-right: 15%;
        padding-left: 15%;
    }

    .footer {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 45px;

        &__logo {
            margin: 5px;
            width: 90px;
            order: 5;
        }
    }

}