$medium: 768px;
$large: 1024px;

@media only screen and (min-width: $medium) {
    .hero__title {
        font-size: 40px;
    }
    
    .ordering-process {
        margin-left: 250px;

        &__steps {
            flex-direction: row;
        }
    }

    .restaurants {
        padding-left: 280px;

        &__cards {
            flex-flow: row wrap;
            gap: 50px;
    
            &__card {
                width: 50%;
            }
        }
    }

    .menu {
        width: 45%;
        margin-left: 12%;
        padding-right: 15%;
        padding-left: 15%;
    }

    .footer {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 45px;

        &__logo {
            margin: 5px;
            width: 90px;
            order: 5;
        }
    }

}

@media only screen and (min-width: $large) {
    
    .ordering-process {
        margin-left: 11%;

        &__title {
            margin-left: -8px;
            font-size: 25px;
        }

        &__steps {
            flex-direction: row;
            gap: 2%;

            &__step {
                font-size: 16px;
                font-weight: bold;
                width: 26%;
            }
        }
    }

    .purple-circle {
        padding: 7px;
    }

    .restaurants {
        padding-left: 10%;

        &__cards {
    
            & article {
                width: 40%;
                margin-right: 2%;
            }
        }
    }

    .menu {
        width: 45%;
        margin-left: 12%;
        padding-right: 15%;
        padding-left: 15%;
    }

    .footer {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 45px;
        padding-top: 60px;
        font-size: 17px;

        &__logo {
            margin-left: 5%;
            width: 130px;
            order: 5;
        }
    }
}