.header {
    margin-top: 20px;
    margin-bottom: 12px;
    display: flex;

    &__button {
        color: var(--text-grey-color);
        border: none;
        background: none;
        font-size: 25px;
        padding-left: 15px;
    }

    &__logo {
        margin: auto;

        img {
        width: 150px;
        }
    }
}